<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Confirmation</title>
  <style>

    /*
    Fonts
    */
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

    html, body {
      padding: 0;
      margin: 0;
    }

    * {
      box-sizing: border-box;
      font-family: 'Roboto', Helvetica, Arial, sans-serif;
      color: #555;
    }
    
    body {
      background-color: #dadfe4;
    }

    div.email-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 95%;
      max-width: 650px;
      background-color: white;
      margin: 0 auto;
    }

    a.button {
      color: white;
      padding: 14px;
      background-color: #408be0;
      border-radius: 5px;
      text-decoration: none;
    }

    div.content-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 2px#ddd;
      padding: 25px;
      border-bottom: 2px solid #ddd;
    }

    div.footer {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #eaedf0;
      width: 100%;
    }
  </style>
</head>
<body>
  <!-- start preheader -->
  <div
  class="preheader"
  style="
    display: none;
    max-width: 0;
    max-height: 0;
    overflow: hidden;
    font-size: 1px;
    line-height: 1px;
    color: #fff;
    opacity: 0;
  ">Hi <%= context.login %>, please verify your email!</div>
  <!-- end preheader -->

  <center>
    <div class="email-container">
      <table>
        <tbody>
          <tr>
            <div class="content-container">
              <h1>Please verify your email</h1>
              <h3>Hi <%= context.login %>, to finish your subscription you must confirm your email. Use the following code on the aplication to confirm your user</h3>
              <h1><%= context.otgCode %></h1>
            </div>
          </tr>
          <tr>
            <div class="footer">
              <%= context.app_name %>
            </div>
          </tr>
        </tbody>
      </table>
    </div>
  </center>
</body>
</html>